# Generate keywords combinations for search engine marketing campaigns

Utilizing Python, this is a recipe that shows how to generate different combinations of keywords and how to group them into their respective campaigns and ad groups.

We first start by obtaining the two main sets of words that we will be using:

1. Products: a list of all the products / services that we are trying to sell
2. Keywords: a list of all the keywords that, used together with any of the keywords, indicate an intention to buy any of our products.

For this example we will be generating keywords for an imaginary business that sells used cars online. For simplicity, let's assume that the following are available as products and keywords:

1. Products: 'honda', 'honda accord', 'honda civic', 'toyota', 'toyota camry'
2. Keywords: 'buy', 'price', 'second hand'
The end result we are looking for, would be something like this:

| Campaign | Ad Group | Keywords |Criterion Type
| --- | --- | --- | --- |
| SEM Cars | Toyota | buy toyota | Exact
| SEM Cars | Toyota | buy toyota | Phrase
| SEM Cars | Honda Accord | buy honda accord | Exact
| SEM Cars | Honda Accord | buy honda accord second hand | Exact

Let's start with a simple loop that combines the keywords with the products, without worrying about campaigns and ad groups for now.

In [19]:
products = ['honda', 'honda accord', 'honda civic', 'toyota', 'toyota camry']
keywords =  ['buy', 'price', 'second hand','cheap','lowest price','low','used']
keyword_list = [] # eventually, each line in this list will correspond to a keyword
for car in products:
    for word in keywords:
        keyword_list.append([car, car + ' ' + word])
        keyword_list.append([car, word + ' ' + car])
print(keyword_list[:10])

[['honda', 'honda buy'], ['honda', 'buy honda'], ['honda', 'honda price'], ['honda', 'price honda'], ['honda', 'honda second hand'], ['honda', 'second hand honda'], ['honda', 'honda cheap'], ['honda', 'cheap honda'], ['honda', 'honda lowest price'], ['honda', 'lowest price honda']]

Now we can add the campaign name as well as the ad groups:

In [20]:
import pandas as pd

# Create a DataFrame from list
keywords_df = pd.DataFrame.from_records(keyword_list)
keywords_df = keywords_df.rename(columns={0: "Ad Group",1: "Keyword"})

keywords_df.head()

  Ad Group            Keyword
0    honda          honda buy
1    honda          buy honda
2    honda        honda price
3    honda        price honda
4    honda  honda second hand

In [21]:
keywords_df['Campaign']='SEM Cars'
keywords_df['Criterion Type']='Exact'

In [22]:
# Make a copy of the keywords DataFrame
keywords_phrase = keywords_df.copy()

# Change criterion type match to phrase

keywords_phrase['Criterion Type']='Phrase'

# Append the DataFrames
keywords_df_final = keywords_df.append(keywords_phrase)

In [27]:
keywords_df_final.sample(15)

        Ad Group                    Keyword  Campaign Criterion Type
30   honda civic          honda civic price  SEM Cars         Phrase
38   honda civic            honda civic low  SEM Cars          Exact
23  honda accord  lowest price honda accord  SEM Cars          Exact
8          honda         honda lowest price  SEM Cars          Exact
7          honda                cheap honda  SEM Cars          Exact
28   honda civic            honda civic buy  SEM Cars          Exact
41   honda civic           used honda civic  SEM Cars         Phrase
24  honda accord           honda accord low  SEM Cars         Phrase
16  honda accord         honda accord price  SEM Cars         Phrase
42        toyota                 toyota buy  SEM Cars         Phrase
68  toyota camry          toyota camry used  SEM Cars         Phrase
45        toyota               price toyota  SEM Cars         Phrase
7          honda                cheap honda  SEM Cars         Phrase
56  toyota camry           toyota camry buy  SEM Cars          Exact
62  toyota camry         toyota camry cheap  SEM Cars          Exact

In [24]:
keywords_df.to_csv('/Users/praga/Downloads/keywords.csv', index=False)
# View a summary of our campaign work
summary = keywords_df_final.groupby(['Ad Group', 'Criterion Type'])['Keyword'].count()
print(summary)

Ad Group      Criterion Type
honda         Exact             14
              Phrase            14
honda accord  Exact             14
              Phrase            14
honda civic   Exact             14
              Phrase            14
toyota        Exact             14
              Phrase            14
toyota camry  Exact             14
              Phrase            14
Name: Keyword, dtype: int64

# Generate ads for search engine marketing campaigns

Utilizing Python, this is a recipe that shows how to generate differnent ad templates for our campaigns and ad groups.

### Start by first getting a list of all the possible landing pages that are fit to be used in our campaigns.

We should also have the title of the landing page (product name) as well. Ideally, we should have them in a list of tuples like this:

In [28]:
pages_products = [
('http://example.com/?make=toyota&model=camry', 'toyota camry'),
('http://example.com/?make=toyota&model=corolla','toyota corolla'),
('http://example.com/?make=toyota&model=','toyota'),
('http://example.com/?make=honda&model=civic','honda civic'),
('http://example.com/?make=honda&model=','honda'),
    ]

In [54]:
ads_list = [['Campaign', 'Ad Group', 'Headline 1', 'Headline 2', 'Description', 'Final URL']]

for page, adgroup in pages_products:
    row = [
        'SEM Cars',
        adgroup,
        adgroup +' '+'for Sale',
        'Great Prices and Options',
        'Browse Over 100,000 Cars. Book Your Free Test Drive',
        page
    ]
    ads_list.append(row)

    row = [
        'SEM Cars',
        adgroup,
        'Second Hand'+' '+adgroup,
        'Great Prices and Options',
        'Browse Over 100,000 Cars. Book Your Free Test Drive',
        page
    ]
    ads_list.append(row)

In [71]:
ads=pd.DataFrame.from_records(ads_list,columns={'Campaign','Ad Group','Headline 1','Headline 2','Description','Final Url'})
ads=ads.loc[1:]
ads.head(7)

,Description,Campaign,Headline 2,Ad Group,Headline 1,Final Url
1,SEM Cars,toyota camry,toyota camry for Sale,Great Prices and Options,"Browse Over 100,000 Cars. Book Your Free Test ...",http://example.com/?make=toyota&model=camry
2,SEM Cars,toyota camry,Second Hand toyota camry,Great Prices and Options,"Browse Over 100,000 Cars. Book Your Free Test ...",http://example.com/?make=toyota&model=camry
3,SEM Cars,toyota corolla,toyota corolla for Sale,Great Prices and Options,"Browse Over 100,000 Cars. Book Your Free Test ...",http://example.com/?make=toyota&model=corolla
4,SEM Cars,toyota corolla,Second Hand toyota corolla,Great Prices and Options,"Browse Over 100,000 Cars. Book Your Free Test ...",http://example.com/?make=toyota&model=corolla
5,SEM Cars,toyota,toyota for Sale,Great Prices and Options,"Browse Over 100,000 Cars. Book Your Free Test ...",http://example.com/?make=toyota&model=
6,SEM Cars,toyota,Second Hand toyota,Great Prices and Options,"Browse Over 100,000 Cars. Book Your Free Test ...",http://example.com/?make=toyota&model=
7,SEM Cars,honda civic,honda civic for Sale,Great Prices and Options,"Browse Over 100,000 Cars. Book Your Free Test ...",http://example.com/?make=honda&model=civic

In [72]:
ads.to_csv('/Users/praga/Downloads/ads.csv', index=False)